# List

In [16]:
a = [1, 2, "hello", 23.45]
a

[1, 2, 'hello', 23.45]

In [17]:
# accessing the value of a list: Indexing and slicing
#a[index]
a[0]

1

In [18]:
a[1]

2

## slicing

- syntax: L[start:stop:step]
- start index value is included in the O/P
- stop index value is excluded in the O/P
- step is optional
- default value if step is 1

In [19]:
a = [11, 12, 13, 14, 15]
a[1:3]

[12, 13]

In [20]:
a[1:4]

[12, 13, 14]

In [21]:
# if start is not given then it would take the value from the beginning
a[:3]  # 0,1,2

[11, 12, 13]

In [22]:
# if stop is not given then it would take the value till the end
a[1:]

[12, 13, 14, 15]

In [23]:
# if both , start and stop are missing then complete list would be returned
a[:]

[11, 12, 13, 14, 15]

In [24]:
# step means how many values you want to jump
# +ve step means move in the forward direction
# -ve step means move in the back ward direction
a = [11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]
a[1:9:3]  # a[1],a[4], a[7]

[12, 15, 18]

In [25]:
# negative indexes start from the end -1
a = [11, 12, 13, 14]
a[-1]  # returns last value

14

In [26]:
a[-2] # second last value

13

In [27]:
# concatenation
a = ['a', 'b', 'c']
b = [4, 5, 6]
c =  a + b
print(c)
print(type(c))

['a', 'b', 'c', 4, 5, 6]
<class 'list'>

### Updating and deleting

In [28]:
# updating
a = [1, 2, 3]
a[1] = 100
a

[1, 100, 3]

In [29]:
# delete a value: del(L(index))
a = [11, 22, 33]
del(a[1])
a

[11, 33]

In [30]:
# In which platform we need to work on the case studies? 
#I am little bit confused

In [31]:
# remove(value): this removed first occurence of tht value
a = [1, 2, 3, 2, 3]
val = a.remove(2)
print(val)
print(a)

None
[1, 3, 2, 3]

In [32]:
# pop([index]) : pops out the deleted value at the index(default value=0)
a = [11, 22, 33, 44]
print(a.pop())
print(a)

44
[11, 22, 33]

In [33]:
val = a.pop(2)
val

33

In [34]:
#type(): returns type of an object
a = [1, 2]
type(a)

list

In [35]:
# List comprehension: creating a another list using existing list
a = [1, 2, 3, 4]
b = [i**2 for i in a if i>2]
b

[9, 16]

In [36]:
b = [i+100 for i in a if i>2]
b

[103, 104]

In [37]:
# append()
a = [1, 2, 3]
a.append(100)
a

[1, 2, 3, 100]

In [38]:
#extend: it is used to add anothre list to n existing list
a = [1, 2, 3]
b = [4, 5, 6]
a.append(b)
print(a)
print(len(a))

# using extend
print("Using extend")
a = [1, 2, 3]
b = [4, 5, 6]
a.extend(b)
print(a)
print(len(a))

[1, 2, 3, [4, 5, 6]]
4
Using extend
[1, 2, 3, 4, 5, 6]
6

In [39]:
# insert(index, value): adding value at particular index
a = [11, 22, 33, 44]
a.insert(1, "hello")
a

[11, 'hello', 22, 33, 44]

In [40]:
# sorted(): sorts the sequence and gives a new sequence
a = [11, 2, -1, -100, 3, 1]
sorted(a)

[-100, -1, 1, 2, 3, 11]

In [41]:
sorted(a, reverse=True) # descending order

[11, 3, 2, 1, -1, -100]

In [42]:
# how to reverse a sequence
a = [1, 2, 3]
a[::-1]

[3, 2, 1]

In [43]:
# Tuple in a list
l = [(1,2,3), ("Python", "Data science")]
print(len(l))

2

In [44]:
l[0]

(1, 2, 3)

In [45]:
l[0][1]

2

In [46]:
l[0][0:2]

(1, 2)

In [47]:
# trying to modify tuple inside a list
l = [(1,2,3), ("Python", "Data science")]

l[0][1] = 100

TypeError: 'tuple' object does not support item assignment

In [49]:
L = [(1,2,3), ("Python", "Data science")]
L[1][1]

'Data science'

# Tuple
- it is faster than list as it contains less features
- are immutable
- can be used as a dict keys
- can contain any value

In [50]:
# create
a = (1, 2, "hello")
print(a)
print(type(a))

(1, 2, 'hello')
<class 'tuple'>

In [51]:
len(a)

3

In [52]:
a = (1, 2, 3)
max(a)

3

In [53]:
min(a)

1

In [54]:
# sorted(): returns a new list
a = (11, 12, -1, 100, -3, -499)
sorted(a)

[-499, -3, -1, 11, 12, 100]

In [55]:
# reverse a tuple
a[::-1]

(-499, -3, 100, -1, 12, 11)

In [56]:
a = [11, 22, 33, 44, 55, 66]
a[::-2]  # this starts from end and moves toward left direction

[66, 44, 22]

In [57]:
# repetition
a = (1,2)
a*3

(1, 2, 1, 2, 1, 2)

In [58]:
# concatenation
a = (1,2)
b = (3,4)
c =  a + b
c  # this is a new tuple, original a and b are intact

(1, 2, 3, 4)

In [59]:
# membership testing: using 'in' and 'not in'
a = (1,2,3)
1 in a

True

In [60]:
11 not in a

True

In [61]:
2 not in a

False

In [62]:
2 in a

True

In [63]:
# delete a complete tuple: 'del'
a = (1,2)
del(a)   # this would delete a tuple
print(a)

NameError: name 'a' is not defined

In [64]:
# trying to modify a tuple value: not possible
T = (1, 2, "hello", 23.4)
T[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
# modifying tuple when it contains a mutable object like list
tup = ([1, 2, 3], [4, 5, 6])
print(tup)
print(tup[0][1])

tup[0][1] = "hello"
print(tup)

In [ ]:
# we are not modifying the tuple directly but eventually it gets modified
L1 = [1,2,3]
L2 = [4,5,6]
tup = (L1, L2)
print(tup)
L1.append("hello")
L2.append("Bye")
print(tup)

In [ ]:
L1 = [1,2,3]
L2 = [4,5,6]
tup = (L1, L2)
del(L2)
print(tup)

In [ ]:
# delete a complete tuple
a = (1,2)
del(a)
print(a)  # error comes if the tuple has been deleted

In [ ]:
dir((1,2))

In [ ]:
# count: returns count of a value inside the tuple
a = (1, 1, 1, 2)
a.count(1)

In [ ]:
# index: returns index of the first occurence of that value
a = (11, 22, 33, 11, 11)
a.index(11)

In [ ]:
a.index(100)  # for missing values index() would throw error

In [ ]:
a = (1,1,1,2) #
a.index(1)

In [ ]:
# converting tuple to list
T = (1,2,3)
# convert to list
L = list(T)
L

In [ ]:
#  list to tuple
L = [100,200]
T = tuple(L)
T

In [ ]:
# converting tuple of tuples to a list
a = ((1,2), (3,4))
list(a)  # this would only convert outer tuple to list

In [ ]:
# converting nested tuples to list
a = ((1,2), (3,4))
b = []
for elem in a:
    b.append(list(elem))
b

In [ ]:
# using list comprehension
a = ((1,2), (3,4))
[list(elem) for elem in a]

In [ ]:
dir([])

# Strings

In [ ]:
a = "Edureka"
len(a)

In [ ]:
# slicing
a[1:5:2]  # a[1], a[3]

In [ ]:
a[0]

In [ ]:
a[1]

In [ ]:
# membership testing
'edu' in 'edureka'

In [ ]:
'e' in 'edureka'

In [ ]:
# Dynamic string i.e string formatting
name = input("enter your name:")
age = input("enter your age:")
print("My name is %s and I am %syrs old"%(name, age))

In [ ]:
a = [1,2]
b = (1,2)
print("hello %s and Hi %s"%(a,b))

- %s works with all types of objects viz. list, tuple, numbers etc
- %d would only support numbers

In [ ]:
a = [1,2]
print("hello %d"%(a))  # error , because I am passing a list to %d

In [ ]:
# capitalize
s = "edureka rocks"
new_str = s.capitalize()
print(new_str)
print(s)

In [ ]:
# count
s = 'edureka'
s.count('e')

In [ ]:
s.count('e', 0, 3)  # count('str'[, start_index, stop_index])

In [ ]:
# encode()
my_str = 'edureka'
print("original data:", type(my_str))
val = my_str.encode('utf-8')
print(val)
print("encoded data", type(val))

In [ ]:
# decode()
original_back = val.decode('utf-8')
print("Decoded data: ", original_back)
print(type(original_back))

In [ ]:
# replace(old_str, new_str[,count])
a = 'hello'
a = a.replace('l', 'Z')
a

In [ ]:
a = 'hello'
a = a.replace('l', 'Z', 1)
a

In [ ]:
# upper()
a = 'edureka'
a.upper()

In [ ]:
a = 'PYTHON'
a.lower()

In [ ]:
#index(str): returns the index of first occurence same as list or tuples
a = 'edureka'
a.index('e')

In [ ]:
a.index('Z') # if string is not present then error

In [ ]:
# find vs index
# a.find(str)  # if string is not present then output is -
a = 'edureka'
a.find('Z')

In [ ]:
# reverse the string
a ='edureka'
a[::-1]

In [ ]:
# slicing[start:stop:step]
a = 'edureka rocks'
a[1:9:3]  # a[1], a[4], a[7]

In [ ]:
a[1:100000000:3] # in slicing stop index can go beyond the lenght

In [ ]:
# concatenation
a = 'edureka'
b = 'rocks'
print(a + b)
print(a)

In [ ]:
# repetition
"edureka"*4

# Sets

In [ ]:
# m1:creating set
s = set("edureka edureka")
s

In [ ]:
# m2
s = {1, 2, 3, 1, 2, 3, 1, 2, 3}
s

In [ ]:
set([1, 2, 3, 3, 3])

In [ ]:
# union
A = {1, 2, 3, 4}
B = {6, 7, 1, 2, 3}
A | B

In [ ]:
A[0] # set' object does not support indexing

In [ ]:
# intersection
A = {1, 2, 3, 4}
B = {6, 7, 1, 2, 3}
A & B

In [ ]:
# difference
A - B

In [ ]:
B - A

In [ ]:
# same operations of set using methods()
A = {1, 2, 3, 'a', 'b'}
B = {1, 'a', 'b'}

# membership checking
1 in A

In [ ]:
100 not in A

In [ ]:
# union
A.union(B)

In [ ]:
# intersection
A.intersection(B)

In [ ]:
A.difference(B)

In [ ]:
A.issuperset(B)

In [ ]:
B.issubset(A)

In [ ]:
# add element to a set
a = {1, 2, 3}
a.add('h')
a

In [ ]:
a.remove(1)
a

In [ ]:
a.remove(100)  # if value is missing then error

In [ ]:
a.discard(100)  # no error if value is missing

In [ ]:
a.pop() # pops out a random value

In [ ]:
a.clear()
a

In [ ]:
dir({1, 2})

# Dictionaries
- Faster access, Time complexity:O(1)
- Keys have to be immutable ex: numbers, strings , tuple or any other immutable object
- Keys can't be duplicated
- values can be any data type

In [65]:
# create
a = {1:11, 2:"hello", "bye":[1,2,3], (5,6):[100, 200]}
a

{1: 11, 2: 'hello', 'bye': [1, 2, 3], (5, 6): [100, 200]}

In [66]:
# access a value
a[2]

'hello'

In [67]:
a['bye']

[1, 2, 3]

In [68]:
a[0]

KeyError: 0

In [69]:
# updating a value
a['bye'] = [100, 200, 300]
a

{1: 11, 2: 'hello', 'bye': [100, 200, 300], (5, 6): [100, 200]}

In [70]:
# adding a new key-value pair(same syntax as update)
a['pradeep'] = 1000
a

{1: 11,
 2: 'hello',
 'bye': [100, 200, 300],
 (5, 6): [100, 200],
 'pradeep': 1000}

In [71]:
# delete a key-value pair
del(a[2])
a

{1: 11, 'bye': [100, 200, 300], (5, 6): [100, 200], 'pradeep': 1000}

In [72]:
len(a)

4

In [73]:
str(a)
a

{1: 11, 'bye': [100, 200, 300], (5, 6): [100, 200], 'pradeep': 1000}

In [74]:
type(a)

dict

In [76]:
# accessing value using .get method
a.get('pradeep')

1000

In [78]:
# if key is not present then it won't show an error and you can return a 
# .. default value(optional) at that time.
a.get('pradeepppppppp', 'default value')

'44'

In [79]:
#few more methods on dict
my_dict = {1: 11, 'bye': [100, 200, 300], (5, 6): [100, 200], 'pradeep': 1000}
# only keys can be accessed via .keys() , but it returns new dict keys object
my_dict.keys()

dict_keys([1, 'bye', (5, 6), 'pradeep'])

In [80]:
list(my_dict.keys())

[1, 'bye', (5, 6), 'pradeep']

In [81]:
my_dict.values()

dict_values([11, [100, 200, 300], [100, 200], 1000])

In [82]:
list(my_dict.values())

[11, [100, 200, 300], [100, 200], 1000]

In [83]:
my_dict.items()

dict_items([(1, 11), ('bye', [100, 200, 300]), ((5, 6), [100, 200]), ('pradeep', 1000)])

In [84]:
# [(key, value), (key, value)]
list(my_dict.items())

[(1, 11), ('bye', [100, 200, 300]), ((5, 6), [100, 200]), ('pradeep', 1000)]

In [85]:
# iterate over a dict
for elem in my_dict.items():
    print(elem)

(1, 11)
('bye', [100, 200, 300])
((5, 6), [100, 200])
('pradeep', 1000)

In [86]:
#iterate to get only the keys one by one
for key in my_dict:
    print(key)

1
bye
(5, 6)
pradeep

In [87]:
# same thing to get the keys
for key in my_dict.keys():
    print(key)

1
bye
(5, 6)
pradeep

In [88]:
#iterate to get only the values one by one
for key in my_dict.values():
    print(key)

11
[100, 200, 300]
[100, 200]
1000

In [93]:
a = {1: 11, 20: [100, 200, 300], -1: [100, 200], -100: 1000}
keys = list(a.keys())
#keys
sorted(keys)

[-100, -1, 1, 20]

In [94]:
# keys as string objects
a = {'aa':1, 'bb':22, 'ee':45, 'ii':6, 'ff':56}
sorted(list(a.keys()))

['aa', 'bb', 'ee', 'ff', 'ii']

In [95]:
# get ASCII value
ord('a')

97

In [98]:
# Reference Vs Copy
a = {1:11, 2:22}
# assignment creates a reference
b = a
a[1] = 100
print(a)
print(b)  # this would also be modified
print(id(a))
print(id(b))

{1: 100, 2: 22}
{1: 100, 2: 22}
4506632056
4506632056

In [99]:
# copy
a = {1:11, 2:22}
b = a.copy()

a[1] = 100
print(a)
print(b)  # this would also be modified
print(id(a))
print(id(b))

{1: 100, 2: 22}
{1: 11, 2: 22}
4506632128
4506595048