# Module 2: Sequences and File Operations

### Reading input via Keyboard

In [1]:
val = input("enter your value:")
print(type(val))
print(val)

enter your value:(1,2,3)
<class 'str'>
(1,2,3)

### eval() function is used to evaluate an expression within a string

In [2]:
val = eval(input("enter your value:"))
print(type(val))
print(val)

enter your value:(1,2,3)
<class 'tuple'>
(1, 2, 3)

In [3]:
eval("(1,2,3)")

(1, 2, 3)

### File Handling

In [4]:
# File-Handling

file_obj = open('bye.txt', 'w')
for i in [1,2,3,4,5,6]:
    file_obj.write("Python Rocks"+str(i)+'\n')

file_obj.close()

In [5]:
# reading full
file_obj = open('bye.txt', 'r')

data = file_obj.read()
print(data)
file_obj.close()

Python Rocks1
Python Rocks2
Python Rocks3
Python Rocks4
Python Rocks5
Python Rocks6

In [7]:
# reading line by line
file_obj = open('bye.txt', 'r')

for i in file_obj:
    print(i)
    print("#####")

file_obj.close()

Python Rocks1

#####
Python Rocks2

#####
Python Rocks3

#####
Python Rocks4

#####
Python Rocks5

#####
Python Rocks6

#####

In [8]:
# reading in chunks
file_obj = open('bye.txt', 'r')

while 1:
    line_data = file_obj.read(5)
    if line_data:
        print(line_data)
    else:
        break

file_obj.close()

Pytho
n Roc
ks1
P
ython
 Rock
s2
Py
thon
Rocks
3
Pyt
hon R
ocks4

Pyth
on Ro
cks5

Pytho
n Roc
ks6

In [9]:
# reading a full file in line by line using .readline() function

file_obj = open('bye.txt', 'r')

while 1:
    line_data = file_obj.readline() ####
    if line_data:
        print(line_data)
    else:
        break

file_obj.close()

Python Rocks1

Python Rocks2

Python Rocks3

Python Rocks4

Python Rocks5

Python Rocks6

In [10]:
# rename a file
import os
os.rename("untitled.txt", 'hello.txt')

In [11]:
## deleting a file
os.remove('hello.txt')

### file object attributes

In [12]:
file_obj = open('bye.txt')
file_obj

In [13]:
file_obj.closed

False

In [14]:
file_obj.close()

In [15]:
# .closed
file_obj.closed

True

In [16]:
# .name
file_obj.name

'bye.txt'

In [17]:
#mode
file_obj.mode

'r'

### seek and tell methods

In [20]:
file_obj = open('hello.txt', 'r')
file_obj.read()
data = file_obj.read()
print(data)

In [21]:
# tell() gives the file pointer position
file_obj = open('hello.txt', 'r')
print(file_obj.tell())

0

In [22]:
file_obj.read()
file_obj.tell()

6

In [26]:
## seek() changes the file pointer position
# Syntax: file_obj.seek(offset, whence)
# offset: 
# whence: possible values, 0 or 1 or 2

In [28]:
fo = open('hello.txt', 'r')
fo.seek(3,0)  # moves the file pointer by three positions from the beginning
print(fo.read())

fo.seek(0) # same as fo.seek(0,0)
print("--- Going to read the content from beginning--")
print(fo.read())
fo.close()

hon Rocks
--- Going to read the content from beginning--
Python Rocks

In [35]:
## reading the from end of the file
# Note: open in binary mode to read it from the end
fo = open('hello.txt', 'rb')
fo.seek(-5,2)
data = fo.read()
print(data)
fo.close()

b'Rocks'

## Lists

In [36]:
## indexing starts from 0
a = [11, 22, 33, 44, 55]
a[0]

11

In [37]:
a[1]

22

In [38]:
# negative indexes start from the end and start with -1
a[-1]

55

In [39]:
a[-2]

44

### Slicing

- syntax: L[start:stop:step]
- start index value is included in the O/P
- stop index value is excluded in the O/P
- step is optional
- default value if step is 1

In [42]:
L = [11, 22, 33, 44, 55, 66, 77, 88]
L[1:4]

[22, 33, 44]

In [43]:
L[1:3]

[22, 33]

In [44]:
L[:3]  # 0,1,2

[11, 22, 33]

In [45]:
L[2:]  # starting from 2 then till the end

[33, 44, 55, 66, 77, 88]

In [46]:
L[:]  # returns complete sequence(list or string or tuple)

[11, 22, 33, 44, 55, 66, 77, 88]

In [47]:
## step: difference between consecutive indexes used in the slicing
L = [11, 22, 33, 44, 55, 66, 77, 88, 99, 100, 200, 300]
print(L[1:9]) # 1,2....8
print(L[1:9:2])  # 1, 3, 5, 7

[22, 33, 44, 55, 66, 77, 88, 99]
[22, 44, 66, 88]

In [48]:
## reversing a sequence
a = [1,2,3]
a[::-1]

[3, 2, 1]

In [50]:
a[:-1]

[1, 2]

In [51]:
# updating 
a = [1,2,3,4]
a[0] = "hello"
a

['hello', 2, 3, 4]

In [52]:
## delete
del a[0]

In [53]:
a

[2, 3, 4]

In [54]:
# remove(value)
a = [1,2,1,3]
a.remove(1)

In [59]:
a = [1,2,3,4,1,1]
while 1:
    try:
        a.remove(1)
    except ValueError:
        break
print(a)

[2, 3, 4]

In [55]:
a

[2, 1, 3]

In [56]:
# list.pop() # pops out the last value
# list.pop(index)
a = [1,2,3,4]
val = a.pop()
val

4

In [58]:
a = [11,22,33,44]
a.pop(2)  #2 is index here

33

In [ ]:
# In case remove if 2nd 1 ..how will I remove

### list comprehension
- creating a new list using an existing list

In [60]:
a = [11, 22, 33, 44]
b = [i+100 for i in a]
b

[111, 122, 133, 144]

In [62]:
# with filter
c = 100
a = [11, 22, 33, 44]
b = [i+c for i in a if i>30]
b

[133, 144]

In [63]:
# append()
a = [1,2,3]
a.append("hello")
a

[1, 2, 3, 'hello']

In [64]:
# append another list
a = [1,2,3]
b = [4,5,6]
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [65]:
## extend
a = [1,2,3]
b = [4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [68]:
## insert(index, value)
a = [11, 22, 33]
a.insert(1, "edureka")
a

[11, 'edureka', 22, 33]

In [70]:
## sorted()
a = [1, -3, -34, 2, -78, 100]
sorted(a)  # ascending order sorted list

[-78, -34, -3, 1, 2, 100]

In [72]:
sorted(a, reverse=True)  #descending order

[100, 2, 1, -3, -34, -78]

In [73]:
## tuple inside a list
a = [11, 22, ('a', 'b'), 100]
a[0]

11

In [75]:
a[2]

('a', 'b')

In [76]:
a[2][1]

'b'

## Tuple

In [78]:
a = (1,2,3)
len(a)

3

In [79]:
max(a)  # all elements must be of same type

3

In [80]:
min(a)

1

In [81]:
max([1,2,3,300])

300

In [88]:
a = (11, 2, -56, -5, 3, 4, 23)
sorted(a)  # returns a new sorted list

[-56, -5, 2, 3, 4, 11, 23]

In [89]:
sorted(a, reverse=True)

[23, 11, 4, 3, 2, -5, -56]

In [84]:
# reversing a tuple
a = (1,2,3)
a[::-1]

(3, 2, 1)

In [ ]:
"""
what is you pass string in 
tuple along with numbers and then find max an min

"""

In [85]:
a = (1,2,"hello")
max(a)

TypeError: '>' not supported between instances of 'str' and 'int'

In [86]:
max(("hello", "bye", "hi"))

'hi'

In [90]:
# concatenation
[1,2] + [3,4]

[1, 2, 3, 4]

In [93]:
# same for tuple or string
a = (1,2)
b = (3,4)
print(a + b)
print(a)

(1, 2, 3, 4)
(1, 2)

In [94]:
(1,2)*3

(1, 2, 1, 2, 1, 2)

In [95]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [96]:
"hello"*3

'hellohellohello'

In [97]:
# membership testing
a = [1,2,3]
1 in a

True

In [98]:
1 not in a

False

In [99]:
11 in (11,222)

True

In [100]:
'h' in 'hello'

True

In [101]:
'z' in 'hello'

False

In [102]:
# find all the methods available on any object
dir([1,2])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [103]:
dir((1,2))

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [104]:
a = (11, 2,2,2, 2 ,3)
a.count(2)

4

In [105]:
a = (11, 22, 33)
a.index(11)

0

### List inside a tuple can be modified

In [106]:
a = [10, 20]
tup = (90, a)
tup

(90, [10, 20])

In [107]:
id(tup)

4483748800

In [108]:
a.append(100000)
tup

(90, [10, 20, 100000])

In [109]:
id(tup)

4483748800

### tuple to a list

In [110]:
tup = (1,2,3)
list(tup)

[1, 2, 3]

### list to tuple

In [111]:
L = [11, 22, 33]
mytup = tuple(L)
mytup

(11, 22, 33)

## Strings

In [112]:
a = "Edureka rocks"
a[0]

'E'

In [113]:
a[1]

'd'

In [114]:
a[-1]

's'

In [115]:
# slicing concept is same as list and tuple
a[1:10]

'dureka ro'

In [ ]:
if 2>1:
    a = 10
    b = 34
    b =34
# unindent: shift + tab
# Indent: shift after selecting that code

### String formatting

In [116]:
name = "Python"
age = 30
# Method 1
print("My name is %s and age is %syrs"%(name, age))

My name is Python and age is 30yrs

In [119]:
# Method 2: .format()
print("My name is {0} and age is {1}yrs".format(name, age))

My name is Python and age is 30yrs

In [120]:
# % s can be used for any data-type

In [124]:
## %d is for numbers

In [125]:
name = "Python"
age = 30
# Method 1
print("My name is %s and age is %d yrs"%(name, age))

My name is Python and age is 30 yrs

In [126]:
name = [1,2,3]
age = 30
# Method 1
print("My name is %s and age is %d yrs"%(name, age))

My name is [1, 2, 3] and age is 30 yrs

In [127]:
dir("hello")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [129]:
# few built-in methods on string

In [132]:
a = "you rock"
a.capitalize()

'You rock'

In [134]:
# In Python 3 all strings are unicode string
# UTF-8 encoding
a = "edureka"
print(type(a))
b = a.encode('utf-8')
print(b)
print(type(b))

<class 'str'>
b'edureka'
<class 'bytes'>

In [135]:
c = b.decode('utf-8')
print(c)
print(type(c))

edureka
<class 'str'>

In [136]:
max("edureka")

'u'

In [137]:
min("edureka")

'a'

In [139]:
# Encrypt the Reference ID
reference_id_encrypt = base64.b64encode(reference_id.encode())